@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }
  
  $navbar-color: white;
  $font-navbar-color: #b4b4b4;
  
  .nav-style {
    display: flex;
    align-items: center;
    color: $font-navbar-color;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: $navbar-color;
    justify-content: space-between;
    margin-top: 10px
  }
  
  .navbar-item {
    @extend .nav-style;
    list-style: none;
    margin-left: -20px;
    margin-right: 185px;
    li {
      margin-left: 30px;
      font-size: 13px;
      font-weight: 400;
      position: relative;
      cursor: pointer;
      display: inline-block;
  
      .item-text {
        margin-right: 8px;
      }
  
      &::after {
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 3px;
        width: 0;
        transform: translateX(-50%);
        background-color: #007bff;
        transition: width 0.3s ease;
        margin-bottom: -15px;
        content: "";
      }
  
      &.active::after {
        width: 100%;
      }
  
      &:hover {
        color: #007bff;
      }
  
      &.has-arrow::after {
        width: calc(100%);
        margin-left: -10px;
      }
    }
  
    .down-outl {
      width: 22px;
    }
  }
  
  .logo {
    @extend .nav-style;
    font-weight: bold;
    margin-left: 25px;  
    div {
      font-size: 18px;
    }
  }
  
  .user-menu {
    @extend .nav-style;
    margin-right: -40px;
    svg {
      margin-right: 30px;
    }
  }
  
  .img-user {
    @include border-radius(50%);
    width: 20px;
    margin-right: 20px;
  }
  