html {
  scroll-behavior: smooth;
}

.nav-ul {
  display: flex;
  justify-content: space-evenly; /* Cách đều các mục */
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffff;
}

.nav-ul li {
  margin: 0; /* Không cần margin ở đây, sẽ được điều chỉnh bởi justify-content */
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

.nav-ul li a {
  color: black;
  text-decoration: none;
}

ul li a:hover {
  color: #ff6700; /* Màu khi hover */
}

.hr {
  width: 80%;
  margin: 0 auto; /* Căn giữa theo chiều ngang */
  border: none; /* Bỏ viền mặc định */
  border-top: 1px solid rgba(204, 204, 204, 0.5); /* Viền mờ với màu sắc và độ trong suốt */
  /* Hoặc sử dụng border-top: 1px solid #ccc; với opacity nếu không muốn dùng rgba */
}


