.cart-icon {
  border: 1px solid gray;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateX(-50%);
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s;
  color: black;
  margin-top: -360px;
  margin-left: 250px;
}

.product-card:hover .cart-icon {
  opacity: 1; /* Sửa lỗi chính tả từ '1l' thành '1' */
}
