.layout-admin-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .logo {
        display: flex;
        align-items: center;
        height: 100px;
        border-bottom: 1px solid #ddd;
        padding: 0 20px;
    }

    .main-content {
        display: flex;
        flex: 1;
        overflow: hidden;
        
        .menu {
            width: 200px;
            border-right: 1px solid #ddd;
            flex-shrink: 0;
        }

        .content {
            flex: 1;
            padding: 20px;
            background-color: #fff;
            overflow-y: auto;
            
            .button-insert {
                margin: 20px 0;
                float: right;
            }
        }
    }
}
